.item-details-column {
  float: left;
  width: auto;
  min-width: 180px;
  margin: 0 20px;
}

.item-details-container {
  margin-top: 20px;
}

.titleRow {
  clear: both;

  width: 100%;
}

.item-details-container {
  width: 100%;
  clear: both;
  margin-top: 20px;
}

.checkoutform {
  margin-bottom: 40px;
}

.checkoutform label {
  margin-right: 20px;
}

.lastRow {
  margin-top: 20px;
}
