<app-container>
  <h1>Welcome to Check out</h1>

  <div class="col-xs-12">



    <form class="checkoutform">
      <label for="itemname">item Name
        <input type="text" name="itemname" [(ngModel)]="name" placeholder="Name of the product">
      </label>
      <label for="itemprice">item Price
        <input type="number" name="itemprice" [(ngModel)]="price" placeholder="Price of the product">
      </label>
      <label for="itemcount">Item Count
        <input type="number" name="itemcount" [(ngModel)]="count">
      </label>

      <button type="submit" (click)="addItem(name, price, count)">Add item</button>
    </form>


    <form class="example-form" *ngIf="itemsList">
      <div class="titleRow">
        <div class="item-details-column">Name</div>
        <div class="item-details-column">Price</div>
        <div class="item-details-column">Count</div>
        <div class="item-details-column">Total</div>
      </div>
      <div *ngFor="let item of itemsList" class="item-details-container">
        <div class="item-details-column">{{item.name}}</div>
        <div class="item-details-column">{{item.price}}</div>
        <div class="item-details-column">{{item.count}}</div>
        <div class="item-details-column">{{item.count * item.price}}</div>
        <button type="submit" (click)="removeItem(name, price, count)">Delete</button>
      </div>
      <div class="lastRow">
        <div class="item-details-column">&nbsp;</div>
        <div class="item-details-column">&nbsp;</div>
        <div class="item-details-column">&nbsp;</div>
        <div class="item-details-column">&nbsp;</div>
        <button type="submit" (click)="checkOut()">Checkout</button>
      </div>
    </form>

  </div>
</app-container>
