.list-title {  
    color: green;
  }
  .list-container {
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: row;
  }

  .main-container {
    height: 100%;
    background-image: url("~src/assets/img/bg.jpg");
  }