.main-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("~src/assets/img/bg.jpg");
}
.login-container {
  width: 360px;

}


.login-actions {
  padding: 16px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.login-container form {
  padding-top: 16px;
  //min-height: 400px;
}

.login-container mat-form-field {
  width: 100%;
}
