.list-title-customer {
    margin: 10px;
    color: green;
}

.list-title {
    margin: 10px;
    color: violet;
}

.list-container {
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: row;
}
.order-container {
    margin: 10px;
  }

  .main-container {
    height: 100%;
   // display: flex;
    background-image: url("~src/assets/img/bg.jpg");
  }
  